In [1]:
import numpy
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns 

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('/kaggle/input/titanic-dataset/train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df.shape

(891, 12)

In [4]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [5]:
df.drop(columns=['Name','PassengerId'] ,axis=1 ,inplace=True)

In [6]:
categorical_cols = df.select_dtypes(include=['object']).columns
categorical_cols ,len(categorical_cols)

(Index(['Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object'), 4)

In [7]:
for col in categorical_cols:
    print(f'Uniques values in {col} : {df[col].unique()}\nNo of Unique values : {len(df[col].unique())}\n')

Uniques values in Sex : ['male' 'female']
No of Unique values : 2

Uniques values in Ticket : ['A/5 21171' 'PC 17599' 'STON/O2. 3101282' '113803' '373450' '330877'
 '17463' '349909' '347742' '237736' 'PP 9549' '113783' 'A/5. 2151'
 '347082' '350406' '248706' '382652' '244373' '345763' '2649' '239865'
 '248698' '330923' '113788' '347077' '2631' '19950' '330959' '349216'
 'PC 17601' 'PC 17569' '335677' 'C.A. 24579' 'PC 17604' '113789' '2677'
 'A./5. 2152' '345764' '2651' '7546' '11668' '349253' 'SC/Paris 2123'
 '330958' 'S.C./A.4. 23567' '370371' '14311' '2662' '349237' '3101295'
 'A/4. 39886' 'PC 17572' '2926' '113509' '19947' 'C.A. 31026' '2697'
 'C.A. 34651' 'CA 2144' '2669' '113572' '36973' '347088' 'PC 17605' '2661'
 'C.A. 29395' 'S.P. 3464' '3101281' '315151' 'C.A. 33111' 'S.O.C. 14879'
 '2680' '1601' '348123' '349208' '374746' '248738' '364516' '345767'
 '345779' '330932' '113059' 'SO/C 14885' '3101278' 'W./C. 6608'
 'SOTON/OQ 392086' '343275' '343276' '347466' 'W.E.P. 5734' 'C.A. 2315'
 '364500' '374910' 'PC 17754' 'PC 17759' '231919' '244367' '349245'
 '349215' '35281' '7540' '3101276' '349207' '343120' '312991' '349249'
 '371110' '110465' '2665' '324669' '4136' '2627' 'STON/O 2. 3101294'
 '370369' 'PC 17558' 'A4. 54510' '27267' '370372' 'C 17369' '2668'
 '347061' '349241' 'SOTON/O.Q. 3101307' 'A/5. 3337' '228414' 'C.A. 29178'
 'SC/PARIS 2133' '11752' '7534' 'PC 17593' '2678' '347081'
 'STON/O2. 3101279' '365222' '231945' 'C.A. 33112' '350043' '230080'
 '244310' 'S.O.P. 1166' '113776' 'A.5. 11206' 'A/5. 851' 'Fa 265302'
 'PC 17597' '35851' 'SOTON/OQ 392090' '315037' 'CA. 2343' '371362'
 'C.A. 33595' '347068' '315093' '363291' '113505' 'PC 17318' '111240'
 'STON/O 2. 3101280' '17764' '350404' '4133' 'PC 17595' '250653' 'LINE'
 'SC/PARIS 2131' '230136' '315153' '113767' '370365' '111428' '364849'
 '349247' '234604' '28424' '350046' 'PC 17610' '368703' '4579' '370370'
 '248747' '345770' '3101264' '2628' 'A/5 3540' '347054' '2699' '367231'
 '112277' 'SOTON/O.Q. 3101311' 'F.C.C. 13528' 'A/5 21174' '250646'
 '367229' '35273' 'STON/O2. 3101283' '243847' '11813' 'W/C 14208'
 'SOTON/OQ 392089' '220367' '21440' '349234' '19943' 'PP 4348' 'SW/PP 751'
 'A/5 21173' '236171' '347067' '237442' 'C.A. 29566' 'W./C. 6609' '26707'
 'C.A. 31921' '28665' 'SCO/W 1585' '367230' 'W./C. 14263'
 'STON/O 2. 3101275' '2694' '19928' '347071' '250649' '11751' '244252'
 '362316' '113514' 'A/5. 3336' '370129' '2650' 'PC 17585' '110152'
 'PC 17755' '230433' '384461' '110413' '112059' '382649' 'C.A. 17248'
 '347083' 'PC 17582' 'PC 17760' '113798' '250644' 'PC 17596' '370375'
 '13502' '347073' '239853' 'C.A. 2673' '336439' '347464' '345778'
 'A/5. 10482' '113056' '349239' '345774' '349206' '237798' '370373'
 '19877' '11967' 'SC/Paris 2163' '349236' '349233' 'PC 17612' '2693'
 '113781' '19988' '9234' '367226' '226593' 'A/5 2466' '17421' 'PC 17758'
 'P/PP 3381' 'PC 17485' '11767' 'PC 17608' '250651' '349243'
 'F.C.C. 13529' '347470' '29011' '36928' '16966' 'A/5 21172' '349219'
 '234818' '345364' '28551' '111361' '113043' 'PC 17611' '349225' '7598'
 '113784' '248740' '244361' '229236' '248733' '31418' '386525'
 'C.A. 37671' '315088' '7267' '113510' '2695' '2647' '345783' '237671'
 '330931' '330980' 'SC/PARIS 2167' '2691' 'SOTON/O.Q. 3101310' 'C 7076'
 '110813' '2626' '14313' 'PC 17477' '11765' '3101267' '323951' 'C 7077'
 '113503' '2648' '347069' 'PC 17757' '2653' 'STON/O 2. 3101293' '349227'
 '27849' '367655' 'SC 1748' '113760' '350034' '3101277' '350052' '350407'
 '28403' '244278' '240929' 'STON/O 2. 3101289' '341826' '4137' '315096'
 '28664' '347064' '29106' '312992' '349222' '394140' 'STON/O 2. 3101269'
 '343095' '28220' '250652' '28228' '345773' '349254' 'A/5. 13032' '315082'
 '347080' 'A/4. 34244' '2003' '250655' '364851' 'SOTON/O.Q. 392078'
 '110564' '376564' 'SC/AH 3085' 'STON/O 2. 3101274' '13507' 'C.A. 18723'
 '345769' '347076' '230434' '65306' '33638' '113794' '2666' '113786'
 '65303' '113051' '17453' 'A/5 2817' '349240' '13509' '17464'
 'F.C.C. 13531' '371060' '19952' '364506' '111320' '234360' 'A/S 2816'
 'SOTON/O.Q. 3101306' '113792' '36209' '323592' '315089' 'SC/AH Basle 541'
 '7553' '31027' '3460' '350060' '3101298' '239854' 'A/5 3594' '4134'
 '11771' 'A.5. 18509' '65304' 'SOTON/OQ 3101317' '113787' 'PC 17609'
 'A/4 45380' '36947' 'C.A. 6212' '350035' '315086' '364846' '330909'
 '4135' '26360' '111427' 'C 4001' '382651' 'SOTON/OQ 3101316' 'PC 17473'
 'PC 17603' '349209' '36967' 'C.A. 34260' '226875' '349242' '12749'
 '349252' '2624' '2700' '367232' 'W./C. 14258' 'PC 17483' '3101296'
 '29104' '2641' '2690' '315084' '113050' 'PC 17761' '364498' '13568'
 'WE/P 5735' '2908' '693' 'SC/PARIS 2146' '244358' '330979' '2620'
 '347085' '113807' '11755' '345572' '372622' '349251' '218629'
 'SOTON/OQ 392082' 'SOTON/O.Q. 392087' 'A/4 48871' '349205' '2686'
 '350417' 'S.W./PP 752' '11769' 'PC 17474' '14312' 'A/4. 20589' '358585'
 '243880' '2689' 'STON/O 2. 3101286' '237789' '13049' '3411' '237565'
 '13567' '14973' 'A./5. 3235' 'STON/O 2. 3101273' 'A/5 3902' '364848'
 'SC/AH 29037' '248727' '2664' '349214' '113796' '364511' '111426'
 '349910' '349246' '113804' 'SOTON/O.Q. 3101305' '370377' '364512'
 '220845' '31028' '2659' '11753' '350029' '54636' '36963' '219533'
 '349224' '334912' '27042' '347743' '13214' '112052' '237668'
 'STON/O 2. 3101292' '350050' '349231' '13213' 'S.O./P.P. 751' 'CA. 2314'
 '349221' '8475' '330919' '365226' '349223' '29751' '2623' '5727' '349210'
 'STON/O 2. 3101285' '234686' '312993' 'A/5 3536' '19996' '29750'
 'F.C. 12750' 'C.A. 24580' '244270' '239856' '349912' '342826' '4138'
 '330935' '6563' '349228' '350036' '24160' '17474' '349256' '2672'
 '113800' '248731' '363592' '35852' '348121' 'PC 17475' '36864' '350025'
 '223596' 'PC 17476' 'PC 17482' '113028' '7545' '250647' '348124' '34218'
 '36568' '347062' '350048' '12233' '250643' '113806' '315094' '36866'
 '236853' 'STON/O2. 3101271' '239855' '28425' '233639' '349201' '349218'
 '16988' '376566' 'STON/O 2. 3101288' '250648' '113773' '335097' '29103'
 '392096' '345780' '349204' '350042' '29108' '363294' 'SOTON/O2 3101272'
 '2663' '347074' '112379' '364850' '8471' '345781' '350047' 'S.O./P.P. 3'
 '2674' '29105' '347078' '383121' '36865' '2687' '113501' 'W./C. 6607'
 'SOTON/O.Q. 3101312' '374887' '3101265' '12460' 'PC 17600' '349203'
 '28213' '17465' '349244' '2685' '2625' '347089' '347063' '112050'
 '347087' '248723' '3474' '28206' '364499' '112058' 'STON/O2. 3101290'
 'S.C./PARIS 2079' 'C 7075' '315098' '19972' '368323' '367228' '2671'
 '347468' '2223' 'PC 17756' '315097' '392092' '11774' 'SOTON/O2 3101287'
 '2683' '315090' 'C.A. 5547' '349213' '347060' 'PC 17592' '392091'
 '113055' '2629' '350026' '28134' '17466' '233866' '236852'
 'SC/PARIS 2149' 'PC 17590' '345777' '349248' '695' '345765' '2667'
 '349212' '349217' '349257' '7552' 'C.A./SOTON 34068' 'SOTON/OQ 392076'
 '211536' '112053' '111369' '370376']
No of Unique values : 681

Uniques values in Cabin : [nan 'C85' 'C123' 'E46' 'G6' 'C103' 'D56' 'A6' 'C23 C25 C27' 'B78' 'D33'
 'B30' 'C52' 'B28' 'C83' 'F33' 'F G73' 'E31' 'A5' 'D10 D12' 'D26' 'C110'
 'B58 B60' 'E101' 'F E69' 'D47' 'B86' 'F2' 'C2' 'E33' 'B19' 'A7' 'C49'
 'F4' 'A32' 'B4' 'B80' 'A31' 'D36' 'D15' 'C93' 'C78' 'D35' 'C87' 'B77'
 'E67' 'B94' 'C125' 'C99' 'C118' 'D7' 'A19' 'B49' 'D' 'C22 C26' 'C106'
 'C65' 'E36' 'C54' 'B57 B59 B63 B66' 'C7' 'E34' 'C32' 'B18' 'C124' 'C91'
 'E40' 'T' 'C128' 'D37' 'B35' 'E50' 'C82' 'B96 B98' 'E10' 'E44' 'A34'
 'C104' 'C111' 'C92' 'E38' 'D21' 'E12' 'E63' 'A14' 'B37' 'C30' 'D20' 'B79'
 'E25' 'D46' 'B73' 'C95' 'B38' 'B39' 'B22' 'C86' 'C70' 'A16' 'C101' 'C68'
 'A10' 'E68' 'B41' 'A20' 'D19' 'D50' 'D9' 'A23' 'B50' 'A26' 'D48' 'E58'
 'C126' 'B71' 'B51 B53 B55' 'D49' 'B5' 'B20' 'F G63' 'C62 C64' 'E24' 'C90'
 'C45' 'E8' 'B101' 'D45' 'C46' 'D30' 'E121' 'D11' 'E77' 'F38' 'B3' 'D6'
 'B82 B84' 'D17' 'A36' 'B102' 'B69' 'E49' 'C47' 'D28' 'E17' 'A24' 'C50'
 'B42' 'C148']
No of Unique values : 148

Uniques values in Embarked : ['S' 'C' 'Q' nan]
No of Unique values : 4

In [8]:
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [9]:
from sklearn.impute import SimpleImputer

age_imputer = SimpleImputer(strategy='median')

df['Age'] = age_imputer.fit_transform(df[['Age']])
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)
df['Cabin'].fillna('Unknown', inplace=True)  # Placeholder value

In [10]:
df.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    0
dtype: int64

In [11]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(sparse=False, drop='first')  # drop='first' avoids multicollinearity

In [12]:
categorical_cols = ['Sex', 'Embarked']
encoded_data = encoder.fit_transform(df[categorical_cols])

In [13]:
encoded_data.shape

(891, 3)

In [14]:
encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(categorical_cols))

In [15]:
encoded_df

     Sex_male  Embarked_Q  Embarked_S
0         1.0         0.0         1.0
1         0.0         0.0         0.0
2         0.0         0.0         1.0
3         0.0         0.0         1.0
4         1.0         0.0         1.0
..        ...         ...         ...
886       1.0         0.0         1.0
887       0.0         0.0         1.0
888       0.0         0.0         1.0
889       1.0         0.0         0.0
890       1.0         1.0         0.0

[891 rows x 3 columns]

In [16]:
df_encoded = pd.concat([df.drop(columns=categorical_cols), encoded_df], axis=1)

In [17]:
df_encoded

,Survived,Pclass,Age,SibSp,Parch,Ticket,Fare,Cabin,Sex_male,Embarked_Q,Embarked_S
0,0,3,22.0,1,0,A/5 21171,7.2500,Unknown,1.0,0.0,1.0
1,1,1,38.0,1,0,PC 17599,71.2833,C85,0.0,0.0,0.0
2,1,3,26.0,0,0,STON/O2. 3101282,7.9250,Unknown,0.0,0.0,1.0
3,1,1,35.0,1,0,113803,53.1000,C123,0.0,0.0,1.0
4,0,3,35.0,0,0,373450,8.0500,Unknown,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,27.0,0,0,211536,13.0000,Unknown,1.0,0.0,1.0
887,1,1,19.0,0,0,112053,30.0000,B42,0.0,0.0,1.0
888,0,3,28.0,1,2,W./C. 6607,23.4500,Unknown,0.0,0.0,1.0
889,1,1,26.0,0,0,111369,30.0000,C148,1.0,0.0,0.0
890,0,3,32.0,0,0,370376,7.7500,Unknown,1.0,1.0,0.0

In [18]:
from sklearn.preprocessing import OrdinalEncoder

ticket_encoder = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1)
df_encoded['Ticket_encoded'] = ticket_encoder.fit_transform(df_encoded[['Ticket']])

cabin_encoder = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1)
df_encoded['Cabin_encoded'] = cabin_encoder.fit_transform(df_encoded[['Cabin']])

In [19]:
df_encoded.drop(columns=['Ticket', 'Cabin'], inplace=True)

In [20]:
df_encoded.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_male,Embarked_Q,Embarked_S,Ticket_encoded,Cabin_encoded
0,0,3,22.0,1,0,7.2500,1.0,0.0,1.0,523.0,147.0
1,1,1,38.0,1,0,71.2833,0.0,0.0,0.0,596.0,81.0
2,1,3,26.0,0,0,7.9250,0.0,0.0,1.0,669.0,147.0
3,1,1,35.0,1,0,53.1000,0.0,0.0,1.0,49.0,55.0
4,0,3,35.0,0,0,8.0500,1.0,0.0,1.0,472.0,147.0

In [21]:
df_encoded.isnull().sum()

Survived          0
Pclass            0
Age               0
SibSp             0
Parch             0
Fare              0
Sex_male          0
Embarked_Q        0
Embarked_S        0
Ticket_encoded    0
Cabin_encoded     0
dtype: int64

In [22]:
df_encoded.drop_duplicates(inplace=True)

In [23]:
df_encoded.shape

(875, 11)

In [24]:
df_encoded.sample(10)

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_male,Embarked_Q,Embarked_S,Ticket_encoded,Cabin_encoded
588,0,3,22.0,0,0,8.0500,1.0,0.0,1.0,79.0,147.0
105,0,3,28.0,0,0,7.8958,1.0,0.0,1.0,354.0,147.0
159,0,3,28.0,8,2,69.5500,1.0,0.0,1.0,568.0,147.0
750,1,2,4.0,1,1,23.0000,0.0,0.0,1.0,234.0,147.0
483,1,3,63.0,0,0,9.5875,0.0,0.0,1.0,489.0,147.0
650,0,3,28.0,0,0,7.8958,1.0,0.0,1.0,366.0,147.0
30,0,1,40.0,0,0,27.7208,1.0,0.0,0.0,598.0,147.0
125,1,3,12.0,1,0,11.2417,1.0,0.0,0.0,186.0,147.0
566,0,3,19.0,0,0,7.8958,1.0,0.0,1.0,352.0,147.0
808,0,2,39.0,0,0,13.0000,1.0,0.0,1.0,154.0,147.0

In [25]:
df_encoded.isnull().sum()

Survived          0
Pclass            0
Age               0
SibSp             0
Parch             0
Fare              0
Sex_male          0
Embarked_Q        0
Embarked_S        0
Ticket_encoded    0
Cabin_encoded     0
dtype: int64

In [26]:
df_X = df_encoded.drop(columns=['Survived'])
df_y = df_encoded['Survived']

In [27]:
df_X.head()

,Pclass,Age,SibSp,Parch,Fare,Sex_male,Embarked_Q,Embarked_S,Ticket_encoded,Cabin_encoded
0,3,22.0,1,0,7.2500,1.0,0.0,1.0,523.0,147.0
1,1,38.0,1,0,71.2833,0.0,0.0,0.0,596.0,81.0
2,3,26.0,0,0,7.9250,0.0,0.0,1.0,669.0,147.0
3,1,35.0,1,0,53.1000,0.0,0.0,1.0,49.0,55.0
4,3,35.0,0,0,8.0500,1.0,0.0,1.0,472.0,147.0

In [28]:
df_y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 875, dtype: int64

In [29]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

In [30]:
# Select numeric columns
numeric_cols = ['Pclass','Age','SibSp','Parch','Fare','Ticket_encoded','Cabin_encoded']

# Fit and transform the data
df_X[numeric_cols] = scaler.fit_transform(df_X[numeric_cols])

In [31]:
df_X

,Pclass,Age,SibSp,Parch,Fare,Sex_male,Embarked_Q,Embarked_S,Ticket_encoded,Cabin_encoded
0,1.0,0.271174,0.125,0.000000,0.014151,1.0,0.0,1.0,0.769118,1.000000
1,0.0,0.472229,0.125,0.000000,0.139136,0.0,0.0,0.0,0.876471,0.551020
2,1.0,0.321438,0.000,0.000000,0.015469,0.0,0.0,1.0,0.983824,1.000000
3,0.0,0.434531,0.125,0.000000,0.103644,0.0,0.0,1.0,0.072059,0.374150
4,1.0,0.434531,0.000,0.000000,0.015713,1.0,0.0,1.0,0.694118,1.000000
...,...,...,...,...,...,...,...,...,...,...
886,0.5,0.334004,0.000,0.000000,0.025374,1.0,0.0,1.0,0.148529,1.000000
887,0.0,0.233476,0.000,0.000000,0.058556,0.0,0.0,1.0,0.020588,0.204082
888,1.0,0.346569,0.125,0.333333,0.045771,0.0,0.0,1.0,0.992647,1.000000
889,0.0,0.321438,0.000,0.000000,0.058556,1.0,0.0,0.0,0.011765,0.408163
890,1.0,0.396833,0.000,0.000000,0.015127,1.0,1.0,0.0,0.685294,1.000000

In [32]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

In [33]:
X_train, X_test, y_train, y_test = train_test_split(df_X, df_y, test_size=0.2, random_state=42)

In [34]:
X_train.shape

(700, 10)

In [35]:
X_test.shape

(175, 10)

In [104]:
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [107]:
X_test

,Pclass,Age,SibSp,Parch,Fare,Sex_male,Embarked_Q,Embarked_S,Ticket_encoded,Cabin_encoded
809,0.0,0.409399,0.125,0.000000,0.103644,0.0,0.0,1.0,0.075000,0.931973
320,1.0,0.271174,0.000,0.000000,0.014151,1.0,0.0,1.0,0.770588,1.000000
384,1.0,0.346569,0.000,0.000000,0.015412,1.0,0.0,1.0,0.545588,1.000000
802,0.0,0.132948,0.125,0.333333,0.234224,1.0,0.0,1.0,0.048529,0.319728
426,0.5,0.346569,0.125,0.000000,0.050749,0.0,0.0,1.0,0.147059,1.000000
...,...,...,...,...,...,...,...,...,...,...
212,1.0,0.271174,0.000,0.000000,0.014151,1.0,0.0,1.0,0.773529,1.000000
703,1.0,0.308872,0.000,0.000000,0.015111,1.0,1.0,0.0,0.660294,1.000000
81,1.0,0.359135,0.000,0.000000,0.018543,1.0,0.0,1.0,0.457353,1.000000
781,0.0,0.208344,0.125,0.000000,0.111257,0.0,0.0,1.0,0.130882,0.129252
694,0.0,0.748681,0.000,0.000000,0.051822,1.0,0.0,1.0,0.070588,1.000000

In [105]:
y_pred = model.predict(X_test)

In [106]:
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

print(f"Accuracy: {accuracy:.2f}")
print("Classification Report:")
print(report)

Accuracy: 0.79
Classification Report:
              precision    recall  f1-score   support

           0       0.80      0.85      0.83       101
           1       0.78      0.72      0.75        74

    accuracy                           0.79       175
   macro avg       0.79      0.78      0.79       175
weighted avg       0.79      0.79      0.79       175

# ***USING SMOTE TECHNIQUE***

In [39]:
# from imblearn.over_sampling import SMOTE

# # Apply SMOTE to balance the dataset
# smote = SMOTE()
# X_resampled, y_resampled = smote.fit_resample(df_X, df_y)

# # Split the resampled dataset
# X_train, X_test, y_train, y_test = train_test_split(X_resampled, y_resampled, test_size=0.2, random_state=42)

# # Train the model again
# model = LogisticRegression()
# model.fit(X_train, y_train)

# # Make predictions and evaluate
# y_pred = model.predict(X_test)

# # Evaluation
# accuracy = accuracy_score(y_test, y_pred)
# report = classification_report(y_test, y_pred)

# print(f"Accuracy: {accuracy:.2f}")
# print("Classification Report:")
# print(report)

In [40]:
from sklearn.model_selection import GridSearchCV

# Initialize the model
model = LogisticRegression()

# Define parameter grid
param_grid = {
    'C': [0.1, 1, 10],
    'solver': ['liblinear', 'lbfgs']
}

# Setup GridSearchCV
grid_search = GridSearchCV(model, param_grid, cv=5, scoring='accuracy')
grid_search.fit(X_train, y_train)

# Best parameters and model
print("Best Parameters:", grid_search.best_params_)
best_model = grid_search.best_estimator_

# Make predictions and evaluate
y_pred = best_model.predict(X_test)

# Evaluation
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

print(f"Accuracy: {accuracy:.2f}")
print("Classification Report:")
print(report)

Best Parameters: {'C': 1, 'solver': 'liblinear'}
Accuracy: 0.78
Classification Report:
              precision    recall  f1-score   support

           0       0.78      0.86      0.82       101
           1       0.78      0.66      0.72        74

    accuracy                           0.78       175
   macro avg       0.78      0.76      0.77       175
weighted avg       0.78      0.78      0.77       175

In [113]:
test_df = pd.read_csv('/kaggle/input/titanic-dataset/test.csv')
test_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [80]:
test_df[test_df['Cabin']=='']

Empty DataFrame
Columns: [PassengerId, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

In [81]:
test_df.shape

(418, 11)

In [82]:
test_df.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [83]:
test_df['Age'] = age_imputer.transform(test_df[['Age']])
test_df['Cabin'].fillna('Unknown', inplace=True)  # Placeholder value

fare_imputer = SimpleImputer(strategy='median')
test_df['Fare'] = fare_imputer.fit_transform(test_df[['Fare']])

In [84]:
test_df.isnull().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [85]:
test_df

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,Unknown,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,Unknown,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,Unknown,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,Unknown,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,Unknown,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,28.0,0,0,A.5. 3236,8.0500,Unknown,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,Unknown,S
416,1308,3,"Ware, Mr. Frederick",male,28.0,0,0,359309,8.0500,Unknown,S
417,1309,3,"Peter, Master. Michael J",male,28.0,1,1,2668,22.3583,Unknown,C

In [86]:
test_df.drop(columns=['Name','PassengerId'] ,axis=1 ,inplace=True)

In [87]:
test_df.head()

   Pclass     Sex   Age  SibSp  Parch   Ticket     Fare    Cabin Embarked
0       3    male  34.5      0      0   330911   7.8292  Unknown        Q
1       3  female  47.0      1      0   363272   7.0000  Unknown        S
2       2    male  62.0      0      0   240276   9.6875  Unknown        Q
3       3    male  27.0      0      0   315154   8.6625  Unknown        S
4       3  female  22.0      1      1  3101298  12.2875  Unknown        S

In [88]:
categorical_cols = ['Sex', 'Embarked']
encoded_data = encoder.transform(test_df[categorical_cols])

In [89]:
encoded_data

array([[1., 1., 0.],
       [0., 0., 1.],
       [1., 1., 0.],
       ...,
       [1., 0., 1.],
       [1., 0., 1.],
       [1., 0., 0.]])

In [90]:
encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(categorical_cols))

In [91]:
df_encoded = pd.concat([test_df.drop(columns=categorical_cols), encoded_df], axis=1)

In [92]:
df_encoded.shape

(418, 10)

In [93]:
df_encoded.head()

,Pclass,Age,SibSp,Parch,Ticket,Fare,Cabin,Sex_male,Embarked_Q,Embarked_S
0,3,34.5,0,0,330911,7.8292,Unknown,1.0,1.0,0.0
1,3,47.0,1,0,363272,7.0000,Unknown,0.0,0.0,1.0
2,2,62.0,0,0,240276,9.6875,Unknown,1.0,1.0,0.0
3,3,27.0,0,0,315154,8.6625,Unknown,1.0,0.0,1.0
4,3,22.0,1,1,3101298,12.2875,Unknown,0.0,0.0,1.0

In [94]:
# For Ticket
df_encoded['Ticket_encoded'] = ticket_encoder.transform(test_df[['Ticket']])

# For Cabin
df_encoded['Cabin_encoded'] = cabin_encoder.transform(test_df[['Cabin']])

In [95]:
df_encoded.head()

,Pclass,Age,SibSp,Parch,Ticket,Fare,Cabin,Sex_male,Embarked_Q,Embarked_S,Ticket_encoded,Cabin_encoded
0,3,34.5,0,0,330911,7.8292,Unknown,1.0,1.0,0.0,-1.0,147.0
1,3,47.0,1,0,363272,7.0000,Unknown,0.0,0.0,1.0,-1.0,147.0
2,2,62.0,0,0,240276,9.6875,Unknown,1.0,1.0,0.0,-1.0,147.0
3,3,27.0,0,0,315154,8.6625,Unknown,1.0,0.0,1.0,-1.0,147.0
4,3,22.0,1,1,3101298,12.2875,Unknown,0.0,0.0,1.0,251.0,147.0

In [96]:
df_encoded.drop(columns=['Ticket','Cabin'],axis=1,inplace=True)

In [97]:
df_encoded.head()

,Pclass,Age,SibSp,Parch,Fare,Sex_male,Embarked_Q,Embarked_S,Ticket_encoded,Cabin_encoded
0,3,34.5,0,0,7.8292,1.0,1.0,0.0,-1.0,147.0
1,3,47.0,1,0,7.0000,0.0,0.0,1.0,-1.0,147.0
2,2,62.0,0,0,9.6875,1.0,1.0,0.0,-1.0,147.0
3,3,27.0,0,0,8.6625,1.0,0.0,1.0,-1.0,147.0
4,3,22.0,1,1,12.2875,0.0,0.0,1.0,251.0,147.0

In [100]:
# Select numeric columns
numeric_cols = ['Pclass','Age','SibSp','Parch','Fare','Ticket_encoded','Cabin_encoded']

# Fit and transform the data
df_encoded[numeric_cols] = scaler.transform(df_encoded[numeric_cols])

In [108]:
df_encoded

,Pclass,Age,SibSp,Parch,Fare,Sex_male,Embarked_Q,Embarked_S,Ticket_encoded,Cabin_encoded
0,1.0,0.428248,0.000,0.000000,0.015282,1.0,1.0,0.0,-0.001471,1.000000
1,1.0,0.585323,0.125,0.000000,0.013663,0.0,0.0,1.0,-0.001471,1.000000
2,0.5,0.773813,0.000,0.000000,0.018909,1.0,1.0,0.0,-0.001471,1.000000
3,1.0,0.334004,0.000,0.000000,0.016908,1.0,0.0,1.0,-0.001471,1.000000
4,1.0,0.271174,0.125,0.166667,0.023984,0.0,0.0,1.0,0.369118,1.000000
...,...,...,...,...,...,...,...,...,...,...
413,1.0,0.346569,0.000,0.000000,0.015713,1.0,0.0,1.0,-0.001471,1.000000
414,0.0,0.484795,0.000,0.000000,0.212559,0.0,0.0,0.0,0.898529,-0.006803
415,1.0,0.478512,0.000,0.000000,0.014151,1.0,0.0,1.0,-0.001471,1.000000
416,1.0,0.346569,0.000,0.000000,0.015713,1.0,0.0,1.0,-0.001471,1.000000
417,1.0,0.346569,0.125,0.166667,0.043640,1.0,0.0,0.0,0.288235,1.000000

In [109]:
X = df_encoded
X

,Pclass,Age,SibSp,Parch,Fare,Sex_male,Embarked_Q,Embarked_S,Ticket_encoded,Cabin_encoded
0,1.0,0.428248,0.000,0.000000,0.015282,1.0,1.0,0.0,-0.001471,1.000000
1,1.0,0.585323,0.125,0.000000,0.013663,0.0,0.0,1.0,-0.001471,1.000000
2,0.5,0.773813,0.000,0.000000,0.018909,1.0,1.0,0.0,-0.001471,1.000000
3,1.0,0.334004,0.000,0.000000,0.016908,1.0,0.0,1.0,-0.001471,1.000000
4,1.0,0.271174,0.125,0.166667,0.023984,0.0,0.0,1.0,0.369118,1.000000
...,...,...,...,...,...,...,...,...,...,...
413,1.0,0.346569,0.000,0.000000,0.015713,1.0,0.0,1.0,-0.001471,1.000000
414,0.0,0.484795,0.000,0.000000,0.212559,0.0,0.0,0.0,0.898529,-0.006803
415,1.0,0.478512,0.000,0.000000,0.014151,1.0,0.0,1.0,-0.001471,1.000000
416,1.0,0.346569,0.000,0.000000,0.015713,1.0,0.0,1.0,-0.001471,1.000000
417,1.0,0.346569,0.125,0.166667,0.043640,1.0,0.0,0.0,0.288235,1.000000

In [110]:
y = model.predict(X)

In [111]:
y

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0])

In [114]:
test_df.head(1)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q

In [126]:
import numpy as np
ids = np.array(test_df['PassengerId'])

In [127]:
ids

array([ 892,  893,  894,  895,  896,  897,  898,  899,  900,  901,  902,
        903,  904,  905,  906,  907,  908,  909,  910,  911,  912,  913,
        914,  915,  916,  917,  918,  919,  920,  921,  922,  923,  924,
        925,  926,  927,  928,  929,  930,  931,  932,  933,  934,  935,
        936,  937,  938,  939,  940,  941,  942,  943,  944,  945,  946,
        947,  948,  949,  950,  951,  952,  953,  954,  955,  956,  957,
        958,  959,  960,  961,  962,  963,  964,  965,  966,  967,  968,
        969,  970,  971,  972,  973,  974,  975,  976,  977,  978,  979,
        980,  981,  982,  983,  984,  985,  986,  987,  988,  989,  990,
        991,  992,  993,  994,  995,  996,  997,  998,  999, 1000, 1001,
       1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012,
       1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023,
       1024, 1025, 1026, 1027, 1028, 1029, 1030, 1031, 1032, 1033, 1034,
       1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043, 1044, 1045,
       1046, 1047, 1048, 1049, 1050, 1051, 1052, 1053, 1054, 1055, 1056,
       1057, 1058, 1059, 1060, 1061, 1062, 1063, 1064, 1065, 1066, 1067,
       1068, 1069, 1070, 1071, 1072, 1073, 1074, 1075, 1076, 1077, 1078,
       1079, 1080, 1081, 1082, 1083, 1084, 1085, 1086, 1087, 1088, 1089,
       1090, 1091, 1092, 1093, 1094, 1095, 1096, 1097, 1098, 1099, 1100,
       1101, 1102, 1103, 1104, 1105, 1106, 1107, 1108, 1109, 1110, 1111,
       1112, 1113, 1114, 1115, 1116, 1117, 1118, 1119, 1120, 1121, 1122,
       1123, 1124, 1125, 1126, 1127, 1128, 1129, 1130, 1131, 1132, 1133,
       1134, 1135, 1136, 1137, 1138, 1139, 1140, 1141, 1142, 1143, 1144,
       1145, 1146, 1147, 1148, 1149, 1150, 1151, 1152, 1153, 1154, 1155,
       1156, 1157, 1158, 1159, 1160, 1161, 1162, 1163, 1164, 1165, 1166,
       1167, 1168, 1169, 1170, 1171, 1172, 1173, 1174, 1175, 1176, 1177,
       1178, 1179, 1180, 1181, 1182, 1183, 1184, 1185, 1186, 1187, 1188,
       1189, 1190, 1191, 1192, 1193, 1194, 1195, 1196, 1197, 1198, 1199,
       1200, 1201, 1202, 1203, 1204, 1205, 1206, 1207, 1208, 1209, 1210,
       1211, 1212, 1213, 1214, 1215, 1216, 1217, 1218, 1219, 1220, 1221,
       1222, 1223, 1224, 1225, 1226, 1227, 1228, 1229, 1230, 1231, 1232,
       1233, 1234, 1235, 1236, 1237, 1238, 1239, 1240, 1241, 1242, 1243,
       1244, 1245, 1246, 1247, 1248, 1249, 1250, 1251, 1252, 1253, 1254,
       1255, 1256, 1257, 1258, 1259, 1260, 1261, 1262, 1263, 1264, 1265,
       1266, 1267, 1268, 1269, 1270, 1271, 1272, 1273, 1274, 1275, 1276,
       1277, 1278, 1279, 1280, 1281, 1282, 1283, 1284, 1285, 1286, 1287,
       1288, 1289, 1290, 1291, 1292, 1293, 1294, 1295, 1296, 1297, 1298,
       1299, 1300, 1301, 1302, 1303, 1304, 1305, 1306, 1307, 1308, 1309])

In [128]:
y

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0])

In [129]:
len(ids),len(y)

(418, 418)

In [138]:
sub = {
    'PassengerId' : ids,
    'Survived' : y
}

In [139]:
sub = pd.DataFrame(sub)

In [140]:
sub

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [141]:
sub.to_csv('/kaggle/working/submission.csv', index=False)