In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/kaggle/input/kaggle-dataset/train.csv')
test_df = pd.read_csv('/kaggle/input/kaggle-dataset/test.csv')

In [3]:
df.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,0,Ford,F-150 Lariat,2018,74349,Gasoline,375.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,10-Speed A/T,Blue,Gray,None reported,Yes,11000
1,1,BMW,335 i,2007,80000,Gasoline,300.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,6-Speed M/T,Black,Black,None reported,Yes,8250
2,2,Jaguar,XF Luxury,2009,91491,Gasoline,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,Purple,Beige,None reported,Yes,15000
3,3,BMW,X7 xDrive40i,2022,2437,Hybrid,335.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,Transmission w/Dual Shift Mode,Gray,Brown,None reported,Yes,63500
4,4,Pontiac,Firebird Base,2001,111000,Gasoline,200.0HP 3.8L V6 Cylinder Engine Gasoline Fuel,A/T,White,Black,None reported,Yes,7850

In [4]:
df[df['model_year'] == 2025]

Empty DataFrame
Columns: [id, brand, model, model_year, milage, fuel_type, engine, transmission, ext_col, int_col, accident, clean_title, price]
Index: []

In [5]:
def get_age(model_year):
    current_year = 2024
    age = current_year - model_year
    return age

In [6]:
df['age'] = df['model_year'].apply(get_age)

In [7]:
test_df['age'] = test_df['model_year'].apply(get_age)

In [8]:
df.sample(2)

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price,age
7230,7230,Mercedes-Benz,S-Class S 560 4MATIC,2020,10300,Gasoline,463.0HP 4.0L 8 Cylinder Engine Gasoline Fuel,9-Speed A/T,Black,Beige,At least 1 accident or damage reported,Yes,56000,4
11038,11038,BMW,X5 xDrive35i,2014,110000,Gasoline,300.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,A/T,White,Brown,None reported,Yes,14000,10

In [9]:
test_df.sample(2)

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,age
35315,89588,Honda,Pilot EX-L,2013,80500,Gasoline,280.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,6-Speed A/T,White,Beige,None reported,Yes,11
12664,66937,Nissan,Xterra S,2008,180036,Gasoline,261.0HP 4.0L V6 Cylinder Engine Gasoline Fuel,A/T,Gray,Gray,At least 1 accident or damage reported,Yes,16

In [10]:
def get_milage_per_year(df):
    mpy_list = []
    for i in range(len(df)):
        if df['age'][i] == 0:
            mpy = df['milage'][i]
        else:
            mpy = df['milage'][i] / df['age'][i]
        mpy_list.append(mpy)
    return mpy_list

In [11]:
df['milage_per_year'] = get_milage_per_year(df)

In [12]:
test_df['milage_per_year'] = get_milage_per_year(test_df)

In [13]:
df.sample(2)

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price,age,milage_per_year
28370,28370,Honda,Civic EX,2012,107000,Gasoline,140.0HP 1.8L 4 Cylinder Engine Gasoline Fuel,A/T,Silver,Black,None reported,Yes,15500,12,8916.666667
14991,14991,Toyota,Avalon Touring,2006,170000,Gasoline,268.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,6-Speed M/T,Silver,Black,At least 1 accident or damage reported,Yes,2500,18,9444.444444

In [14]:
test_df.sample(2)

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,age,milage_per_year
2940,57213,Cadillac,XT5 Premium Luxury,2016,61000,Gasoline,310.0HP 3.6L V6 Cylinder Engine Gasoline Fuel,A/T,Silver,Black,None reported,Yes,8,7625.0
30074,84347,Cadillac,CTS 3.6L Premium Luxury,2017,37100,Gasoline,335.0HP 3.6L V6 Cylinder Engine Gasoline Fuel,8-Speed A/T,Black,Black,None reported,Yes,7,5300.0

In [15]:
x = []
for i in range(len(df)):
    if 'HP' in df['engine'][i]:
        x.append(1)

In [16]:
len(x) , len(df)

(50216, 54273)

In [17]:
x = []
for i in range(len(test_df)):
    if 'HP' in test_df['engine'][i]:
        x.append(1)

len(x) , len(test_df)

(33577, 36183)

In [18]:
df.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price,age,milage_per_year
0,0,Ford,F-150 Lariat,2018,74349,Gasoline,375.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,10-Speed A/T,Blue,Gray,None reported,Yes,11000,6,12391.500000
1,1,BMW,335 i,2007,80000,Gasoline,300.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,6-Speed M/T,Black,Black,None reported,Yes,8250,17,4705.882353
2,2,Jaguar,XF Luxury,2009,91491,Gasoline,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,Purple,Beige,None reported,Yes,15000,15,6099.400000
3,3,BMW,X7 xDrive40i,2022,2437,Hybrid,335.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,Transmission w/Dual Shift Mode,Gray,Brown,None reported,Yes,63500,2,1218.500000
4,4,Pontiac,Firebird Base,2001,111000,Gasoline,200.0HP 3.8L V6 Cylinder Engine Gasoline Fuel,A/T,White,Black,None reported,Yes,7850,23,4826.086957

In [19]:
df['engine_trans'] = df['engine'] + '_' + df['transmission']
df['ext_int_color'] = df['ext_col'] + '_' + df['int_col']

In [20]:
df.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price,age,milage_per_year,engine_trans,ext_int_color
0,0,Ford,F-150 Lariat,2018,74349,Gasoline,375.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,10-Speed A/T,Blue,Gray,None reported,Yes,11000,6,12391.500000,375.0HP 3.5L V6 Cylinder Engine Gasoline Fuel_...,Blue_Gray
1,1,BMW,335 i,2007,80000,Gasoline,300.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,6-Speed M/T,Black,Black,None reported,Yes,8250,17,4705.882353,300.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,Black_Black
2,2,Jaguar,XF Luxury,2009,91491,Gasoline,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,Purple,Beige,None reported,Yes,15000,15,6099.400000,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel_6...,Purple_Beige
3,3,BMW,X7 xDrive40i,2022,2437,Hybrid,335.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,Transmission w/Dual Shift Mode,Gray,Brown,None reported,Yes,63500,2,1218.500000,335.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,Gray_Brown
4,4,Pontiac,Firebird Base,2001,111000,Gasoline,200.0HP 3.8L V6 Cylinder Engine Gasoline Fuel,A/T,White,Black,None reported,Yes,7850,23,4826.086957,200.0HP 3.8L V6 Cylinder Engine Gasoline Fuel_A/T,White_Black

In [21]:
test_df['engine_trans'] = test_df['engine'] + '_' + test_df['transmission']
test_df['ext_int_color'] = test_df['ext_col'] + '_' + test_df['int_col']

In [22]:
test_df.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,age,milage_per_year,engine_trans,ext_int_color
0,54273,Mercedes-Benz,E-Class E 350,2014,73000,Gasoline,302.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,A/T,White,Beige,None reported,Yes,10,7300.000000,302.0HP 3.5L V6 Cylinder Engine Gasoline Fuel_A/T,White_Beige
1,54274,Lexus,RX 350 Base,2015,128032,Gasoline,275.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,8-Speed A/T,Silver,Black,None reported,Yes,9,14225.777778,275.0HP 3.5L V6 Cylinder Engine Gasoline Fuel_...,Silver_Black
2,54275,Mercedes-Benz,C-Class C 300,2015,51983,Gasoline,241.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,7-Speed A/T,Blue,White,None reported,Yes,9,5775.888889,241.0HP 2.0L 4 Cylinder Engine Gasoline Fuel_7...,Blue_White
3,54276,Land,Rover Range Rover 5.0L Supercharged Autobiogra...,2018,29500,Gasoline,518.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,White,White,At least 1 accident or damage reported,Yes,6,4916.666667,518.0HP 5.0L 8 Cylinder Engine Gasoline Fuel_T...,White_White
4,54277,BMW,X6 xDrive40i,2020,90000,Gasoline,335.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,8-Speed A/T,White,Black,At least 1 accident or damage reported,Yes,4,22500.000000,335.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,White_Black

In [23]:
test_df.isnull()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,age,milage_per_year,engine_trans,ext_int_color
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36178,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
36179,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
36180,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
36181,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
36182,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [24]:
df.shape , test_df.shape

((54273, 17), (36183, 16))

In [25]:
cols = ['model_year' ,'milage' ,'engine' ,'transmission' ,'ext_col' ,'int_col']
df.drop(columns=cols,inplace=True)
test_df.drop(columns=cols,inplace=True)

In [26]:
df.shape , test_df.shape

((54273, 11), (36183, 10))

In [27]:
df.describe()

                 id         price           age  milage_per_year
count  54273.000000  5.427300e+04  54273.000000     54273.000000
mean   27136.000000  3.921844e+04      8.908021      8862.351796
std    15667.409917  7.282634e+04      5.588909      6217.411809
min        0.000000  2.000000e+03      0.000000         6.052632
25%    13568.000000  1.550000e+04      5.000000      5437.500000
50%    27136.000000  2.800000e+04      8.000000      8186.000000
75%    40704.000000  4.500000e+04     12.000000     11166.666667
max    54272.000000  2.954083e+06     50.000000    251634.000000

In [28]:
df.columns

Index(['id', 'brand', 'model', 'fuel_type', 'accident', 'clean_title', 'price',
       'age', 'milage_per_year', 'engine_trans', 'ext_int_color'],
      dtype='object')

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54273 entries, 0 to 54272
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               54273 non-null  int64
 1   brand            54273 non-null  object
 2   model            54273 non-null  object
 3   fuel_type        54273 non-null  object
 4   accident         54273 non-null  object
 5   clean_title      54273 non-null  object
 6   price            54273 non-null  int64
 7   age              54273 non-null  int64
 8   milage_per_year  54273 non-null  float64
 9   engine_trans     54273 non-null  object
 10  ext_int_color    54273 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 4.6+ MB

In [63]:
def show_uniques():
    for i in df.columns:
      print(f"{i} - {len(df[i].unique())} - {df[i][0]}")

In [64]:
len(df['brand'].unique())

53

In [32]:
len(df['fuel_type'].unique())

7

In [83]:
df[df['fuel_type'] == 'not supported']

,id,brand,model,fuel_type,accident,clean_title,price,age,milage_per_year,engine_trans,ext_int_color
1069,1069,Toyota,Mirai Base,not supported,None reported,Yes,14000,8,5000.000000,151.0HP Electric Motor Hydrogen Fuel_A/T,Silver_Black
9621,9621,Toyota,Mirai Limited,not supported,None reported,Yes,9995,1,29553.000000,182.0HP Electric Motor Hydrogen Fuel_A/T,Silver_Gray
11441,11441,Toyota,Mirai Limited,not supported,None reported,Yes,7500,6,6666.666667,182.0HP Electric Motor Hydrogen Fuel_A/T,Silver_Gray
21771,21771,Nissan,Armada Platinum,not supported,None reported,Yes,20900,7,13142.857143,390.0HP 5.6L 8 Cylinder Engine Gasoline Fuel_T...,Gray_Black

In [84]:
len(df['engine'].unique())

KeyError: 'engine'

In [13]:
df['accident'].unique()

array(['None reported', 'At least 1 accident or damage reported'],
      dtype=object)

In [14]:
len(df['model'].unique())

1827

In [15]:
df[df['model'] == 'Mirai Limited']

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
9621,9621,Toyota,Mirai Limited,2023,29553,not supported,182.0HP Electric Motor Hydrogen Fuel,A/T,Silver,Gray,None reported,Yes,9995
11441,11441,Toyota,Mirai Limited,2018,40000,not supported,182.0HP Electric Motor Hydrogen Fuel,A/T,Silver,Gray,None reported,Yes,7500

In [16]:
df[df['clean_title'] != 'Yes']

Empty DataFrame
Columns: [id, brand, model, model_year, milage, fuel_type, engine, transmission, ext_col, int_col, accident, clean_title, price]
Index: []

In [17]:
df.drop(columns=['clean_title'] ,inplace=True)

In [18]:
test_df.drop(columns=['clean_title'] ,inplace=True)
test_df.sample(2)

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident
18910,73183,BMW,M6 Gran Coupe Base,2017,25500,Gasoline,560.0HP 4.4L 8 Cylinder Engine Gasoline Fuel,8-Speed A/T,Blue,Black,None reported
6382,60655,Toyota,4Runner Venture Special Edition,2021,2415,Gasoline,4.0L V6 24V MPFI DOHC,8-Speed Automatic,Midnight Black Metallic,Black/Graphite,None reported

In [ ]:
df.shape ,test_df.shape

In [86]:
df.sample(5)

,id,brand,model,fuel_type,accident,clean_title,price,age,milage_per_year,engine_trans,ext_int_color
33406,33406,Mercedes-Benz,GLC 300 GLC 300,Gasoline,None reported,Yes,99750,2,6385.500000,2.0 Liter Turbo_A/T,Black_Black
40498,40498,BMW,X5 xDrive35i,Gasoline,None reported,Yes,33500,7,7700.000000,300.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,White_Black
6719,6719,Volkswagen,Jetta GLX VR6,Gasoline,At least 1 accident or damage reported,Yes,15995,13,9457.307692,174.0HP 2.8L V6 Cylinder Engine Gasoline Fuel_...,Gray_Black
16248,16248,Land,Rover Range Rover Sport Supercharged Dynamic,Gasoline,None reported,Yes,43900,6,9666.666667,518.0HP 5.0L 8 Cylinder Engine Gasoline Fuel_8...,Black_Black
18577,18577,Porsche,Macan Base,Gasoline,None reported,Yes,21990,6,11166.666667,252.0HP 2.0L 4 Cylinder Engine Gasoline Fuel_7...,Black_Beige

In [85]:
show_uniques()

KeyError: 0

In [21]:
!pip install category_encoders

Requirement already satisfied: category_encoders in /opt/conda/lib/python3.10/site-packages (2.6.3)
Requirement already satisfied: numpy>=1.14.0 in /opt/conda/lib/python3.10/site-packages (from category_encoders) (1.26.4)
Requirement already satisfied: scikit-learn>=0.20.0 in /opt/conda/lib/python3.10/site-packages (from category_encoders) (1.2.2)
Requirement already satisfied: scipy>=1.0.0 in /opt/conda/lib/python3.10/site-packages (from category_encoders) (1.11.4)
Requirement already satisfied: statsmodels>=0.9.0 in /opt/conda/lib/python3.10/site-packages (from category_encoders) (0.14.1)
Requirement already satisfied: pandas>=1.0.5 in /opt/conda/lib/python3.10/site-packages (from category_encoders) (2.2.1)
Requirement already satisfied: patsy>=0.5.1 in /opt/conda/lib/python3.10/site-packages (from category_encoders) (0.5.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.10/site-packages (from pandas>=1.0.5->category_encoders) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas>=1.0.5->category_encoders) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.10/site-packages (from pandas>=1.0.5->category_encoders) (2023.4)
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.1.1 in /opt/conda/lib/python3.10/site-packages (from scikit-learn>=0.20.0->category_encoders) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.10/site-packages (from scikit-learn>=0.20.0->category_encoders) (3.2.0)
Requirement already satisfied: packaging>=21.3 in /opt/conda/lib/python3.10/site-packages (from statsmodels>=0.9.0->category_encoders) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/conda/lib/python3.10/site-packages (from packaging>=21.3->statsmodels>=0.9.0->category_encoders) (3.1.1)
WARNING: Error parsing requirements for aiohttp: [Errno 2] No such file or directory: '/opt/conda/lib/python3.10/site-packages/aiohttp-3.9.1.dist-info/METADATA'

In [30]:
df.isnull().sum()

id                 0
brand              0
model              0
fuel_type          0
accident           0
clean_title        0
price              0
age                0
milage_per_year    0
engine_trans       0
ext_int_color      0
dtype: int64

In [31]:
test_df.isnull().sum()

id                 0
brand              0
model              0
fuel_type          0
accident           0
clean_title        0
age                0
milage_per_year    0
engine_trans       0
ext_int_color      0
dtype: int64

In [32]:
df.shape ,test_df.shape

((54273, 11), (36183, 10))

In [33]:
from sklearn.preprocessing import OneHotEncoder ,LabelEncoder
from category_encoders import CountEncoder

In [34]:
ohe = OneHotEncoder(sparse=False ,drop='first' ,handle_unknown='ignore')
ohe_cols = ['fuel_type' ,'accident']
df_ohe = pd.DataFrame(ohe.fit_transform(df[ohe_cols]), columns=ohe.get_feature_names_out(ohe_cols))
# test_df_ohe = pd.DataFrame(ohe.fit_transform(test_df[ohe_cols]), columns=ohe.get_feature_names_out(ohe_cols))

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [35]:
test_df_ohe = pd.DataFrame(ohe.transform(test_df[ohe_cols]), columns=ohe.get_feature_names_out(ohe_cols))

In [36]:
test_df_ohe.sample(2)

,fuel_type_E85 Flex Fuel,fuel_type_Gasoline,fuel_type_Hybrid,fuel_type_Plug-In Hybrid,fuel_type_not supported,fuel_type_â€“,accident_None reported
10752,0.0,1.0,0.0,0.0,0.0,0.0,1.0
12305,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [37]:
test_df_ohe.isnull().sum()

fuel_type_E85 Flex Fuel     0
fuel_type_Gasoline          0
fuel_type_Hybrid            0
fuel_type_Plug-In Hybrid    0
fuel_type_not supported     0
fuel_type_â€“                 0
accident_None reported      0
dtype: int64

In [38]:
df_ohe.isnull().sum()

fuel_type_E85 Flex Fuel     0
fuel_type_Gasoline          0
fuel_type_Hybrid            0
fuel_type_Plug-In Hybrid    0
fuel_type_not supported     0
fuel_type_â€“                 0
accident_None reported      0
dtype: int64

In [39]:
df.sample(2)

,id,brand,model,fuel_type,accident,clean_title,price,age,milage_per_year,engine_trans,ext_int_color
43996,43996,BMW,528 i,Gasoline,None reported,Yes,6399,12,12633.333333,240.0HP 2.0L 4 Cylinder Engine Gasoline Fuel_A/T,Black_Black
4922,4922,BMW,640 Gran Coupe i xDrive,Gasoline,None reported,Yes,35900,12,4939.250000,315.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,Black_Red

In [40]:
label_cols = ['brand', 'engine_trans', 'ext_int_color', 'model']
label_encoders = {col: LabelEncoder() for col in label_cols}
for col in label_cols:
    df[col + '_label'] = label_encoders[col].fit_transform(df[col])
    classes_seen = set(label_encoders[col].classes_)

    def handle_unseen_labels(value):
        if value in classes_seen:
            return label_encoders[col].transform([value])[0]
        else:
            return -1  # Special category for unseen labels
    
    test_df[col + '_label'] = test_df[col].apply(handle_unseen_labels)

In [41]:
test_df[test_df['brand_label'] == -1]

,id,brand,model,fuel_type,accident,clean_title,age,milage_per_year,engine_trans,ext_int_color,brand_label,engine_trans_label,ext_int_color_label,model_label
11715,65988,Saab,9-3 Aero,Gasoline,None reported,Yes,19,5578.947368,280.0HP 2.8L V6 Cylinder Engine Gasoline Fuel_A/T,Black_Beige,-1,1635,63,138
14106,68379,smart,Passport TrailSport,Gasoline,None reported,Yes,1,13133.000000,280.0HP 3.5L V6 Cylinder Engine Gasoline Fuel_...,Silver_Gray,-1,1653,681,1151
29533,83806,smart,ForTwo Pure,Gasoline,None reported,Yes,16,3849.687500,70.0HP 1.0L 3 Cylinder Engine Gasoline Fuel_5-...,Blue_Beige,-1,-1,127,-1
32721,86994,Saab,9-3 Aero,Gasoline,None reported,Yes,15,3333.333333,280.0HP 2.8L V6 Cylinder Engine Gasoline Fuel_...,White_Black,-1,-1,784,138

In [42]:
df.sample()

,id,brand,model,fuel_type,accident,clean_title,price,age,milage_per_year,engine_trans,ext_int_color,brand_label,engine_trans_label,ext_int_color_label,model_label
28680,28680,Lincoln,Town Car Signature,Gasoline,At least 1 accident or damage reported,Yes,5900,22,5390.909091,220.0HP 4.6L 8 Cylinder Engine Gasoline Fuel_A/T,Black_Gray,27,993,86,1645

In [43]:
df.isnull().sum()

id                     0
brand                  0
model                  0
fuel_type              0
accident               0
clean_title            0
price                  0
age                    0
milage_per_year        0
engine_trans           0
ext_int_color          0
brand_label            0
engine_trans_label     0
ext_int_color_label    0
model_label            0
dtype: int64

In [44]:
test_df.isnull().sum()

id                     0
brand                  0
model                  0
fuel_type              0
accident               0
clean_title            0
age                    0
milage_per_year        0
engine_trans           0
ext_int_color          0
brand_label            0
engine_trans_label     0
ext_int_color_label    0
model_label            0
dtype: int64

In [26]:
freq_cols = ['model', 'engine','brand', 'transmission', 'ext_col', 'int_col']
freq_encoder = CountEncoder()
df[freq_cols] = freq_encoder.fit_transform(df[freq_cols])
test_df[freq_cols] = freq_encoder.transform(test_df[freq_cols])

In [27]:
df.sample(2)

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,price
53728,53728,4424,361,2004,74500,Gasoline,80,5944,15078,31820,None reported,8250
24124,24124,580,36,2015,151600,Gasoline,267,16757,7909,31820,At least 1 accident or damage reported,6700

In [28]:
test_df.sample(2)

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident
5889,60162,739.0,31.0,2014,149000,Gasoline,31.0,718.0,15078.0,31820.0,At least 1 accident or damage reported
29475,83748,1995.0,21.0,2020,59271,Gasoline,18.0,1073.0,13422.0,31820.0,None reported

In [80]:
test_df.tail()

,id,brand,model,fuel_type,accident,clean_title,age,milage_per_year,engine_trans,ext_int_color,brand_label,engine_trans_label,ext_int_color_label,model_label
36178,90451,GMC,Yukon Denali,Gasoline,None reported,Yes,5,900.000000,420.0HP 6.2L 8 Cylinder Engine Gasoline Fuel_1...,Gray_Black,15,3308,319,1798
36179,90452,Chevrolet,Silverado 1500 Z71 Extended Cab,Gasoline,At least 1 accident or damage reported,Yes,20,9250.000000,295.0HP 5.3L 8 Cylinder Engine Gasoline Fuel_4...,Red_Gray,9,1853,586,1513
36180,90453,Toyota,Corolla LE,Gasoline,None reported,Yes,13,8923.076923,132.0HP 1.8L 4 Cylinder Engine Gasoline Fuel_5...,Beige_Gray,50,90,29,489
36181,90454,Lincoln,Navigator Reserve,Gasoline,None reported,Yes,5,7800.000000,450.0HP 3.5L V6 Cylinder Engine Gasoline Fuel_...,Black_Orange,27,3474,100,1104
36182,90455,Chevrolet,Tahoe LT,E85 Flex Fuel,At least 1 accident or damage reported,Yes,12,13560.916667,320.0HP 5.3L 8 Cylinder Engine Flex Fuel Capab...,Black_Black,9,2382,64,1610

In [81]:
df.shape ,df_ohe.shape

((54273, 15), (54273, 7))

In [82]:
df.isnull().sum() ,df_ohe.isnull().sum()

(id                     0
 brand                  0
 model                  0
 fuel_type              0
 accident               0
 clean_title            0
 price                  0
 age                    0
 milage_per_year        0
 engine_trans           0
 ext_int_color          0
 brand_label            0
 engine_trans_label     0
 ext_int_color_label    0
 model_label            0
 dtype: int64,
 fuel_type_E85 Flex Fuel     0
 fuel_type_Gasoline          0
 fuel_type_Hybrid            0
 fuel_type_Plug-In Hybrid    0
 fuel_type_not supported     0
 fuel_type_â€“                 0
 accident_None reported      0
 dtype: int64)

In [49]:
df.reset_index(drop=True, inplace=True)
df_ohe.reset_index(drop=True, inplace=True)

In [50]:
test_df.reset_index(drop=True, inplace=True)
test_df_ohe.reset_index(drop=True, inplace=True)

In [83]:
test_df.head()

,id,brand,model,fuel_type,accident,clean_title,age,milage_per_year,engine_trans,ext_int_color,brand_label,engine_trans_label,ext_int_color_label,model_label
0,54273,Mercedes-Benz,E-Class E 350,Gasoline,None reported,Yes,10,7300.000000,302.0HP 3.5L V6 Cylinder Engine Gasoline Fuel_A/T,White_Beige,35,2144,783,538
1,54274,Lexus,RX 350 Base,Gasoline,None reported,Yes,9,14225.777778,275.0HP 3.5L V6 Cylinder Engine Gasoline Fuel_...,Silver_Black,26,1592,670,1267
2,54275,Mercedes-Benz,C-Class C 300,Gasoline,None reported,Yes,9,5775.888889,241.0HP 2.0L 4 Cylinder Engine Gasoline Fuel_7...,Blue_White,35,1174,152,325
3,54276,Land,Rover Range Rover 5.0L Supercharged Autobiogra...,Gasoline,At least 1 accident or damage reported,Yes,6,4916.666667,518.0HP 5.0L 8 Cylinder Engine Gasoline Fuel_T...,White_White,25,3782,838,1345
4,54277,BMW,X6 xDrive40i,Gasoline,At least 1 accident or damage reported,Yes,4,22500.000000,335.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,White_Black,4,2527,784,1744

In [84]:
df_ohe.head()

,fuel_type_E85 Flex Fuel,fuel_type_Gasoline,fuel_type_Hybrid,fuel_type_Plug-In Hybrid,fuel_type_not supported,fuel_type_â€“,accident_None reported
0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [45]:
df_combined = pd.concat([df, df_ohe], axis=1)
test_df_combined = pd.concat([test_df, test_df_ohe], axis=1)

In [86]:
df_combined.isnull().sum()

id                          0
brand                       0
model                       0
fuel_type                   0
accident                    0
clean_title                 0
price                       0
age                         0
milage_per_year             0
engine_trans                0
ext_int_color               0
brand_label                 0
engine_trans_label          0
ext_int_color_label         0
model_label                 0
fuel_type_E85 Flex Fuel     0
fuel_type_Gasoline          0
fuel_type_Hybrid            0
fuel_type_Plug-In Hybrid    0
fuel_type_not supported     0
fuel_type_â€“                 0
accident_None reported      0
dtype: int64

In [87]:
test_df_combined.head()

,id,brand,model,fuel_type,accident,clean_title,age,milage_per_year,engine_trans,ext_int_color,...,engine_trans_label,ext_int_color_label,model_label,fuel_type_E85 Flex Fuel,fuel_type_Gasoline,fuel_type_Hybrid,fuel_type_Plug-In Hybrid,fuel_type_not supported,fuel_type_â€“,accident_None reported
0,54273,Mercedes-Benz,E-Class E 350,Gasoline,None reported,Yes,10,7300.000000,302.0HP 3.5L V6 Cylinder Engine Gasoline Fuel_A/T,White_Beige,...,2144,783,538,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,54274,Lexus,RX 350 Base,Gasoline,None reported,Yes,9,14225.777778,275.0HP 3.5L V6 Cylinder Engine Gasoline Fuel_...,Silver_Black,...,1592,670,1267,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,54275,Mercedes-Benz,C-Class C 300,Gasoline,None reported,Yes,9,5775.888889,241.0HP 2.0L 4 Cylinder Engine Gasoline Fuel_7...,Blue_White,...,1174,152,325,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,54276,Land,Rover Range Rover 5.0L Supercharged Autobiogra...,Gasoline,At least 1 accident or damage reported,Yes,6,4916.666667,518.0HP 5.0L 8 Cylinder Engine Gasoline Fuel_T...,White_White,...,3782,838,1345,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,54277,BMW,X6 xDrive40i,Gasoline,At least 1 accident or damage reported,Yes,4,22500.000000,335.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,White_Black,...,2527,784,1744,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [88]:
test_df_combined.isnull().sum()

id                          0
brand                       0
model                       0
fuel_type                   0
accident                    0
clean_title                 0
age                         0
milage_per_year             0
engine_trans                0
ext_int_color               0
brand_label                 0
engine_trans_label          0
ext_int_color_label         0
model_label                 0
fuel_type_E85 Flex Fuel     0
fuel_type_Gasoline          0
fuel_type_Hybrid            0
fuel_type_Plug-In Hybrid    0
fuel_type_not supported     0
fuel_type_â€“                 0
accident_None reported      0
dtype: int64

In [46]:
df_combined.drop(columns=ohe_cols + label_cols, inplace=True)
test_df_combined.drop(columns=ohe_cols + label_cols, inplace=True)

# df_combined.drop(columns=ohe_cols , inplace=True)
# test_df_combined.drop(columns=ohe_cols , inplace=True)

In [47]:
df_combined.sample(2)

,id,clean_title,price,age,milage_per_year,brand_label,engine_trans_label,ext_int_color_label,model_label,fuel_type_E85 Flex Fuel,fuel_type_Gasoline,fuel_type_Hybrid,fuel_type_Plug-In Hybrid,fuel_type_not supported,fuel_type_â€“,accident_None reported
10803,10803,Yes,26900,9,11555.555556,9,2716,805,1497,0.0,1.0,0.0,0.0,0.0,0.0,1.0
52219,52219,Yes,77500,3,12166.666667,8,3308,64,588,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [48]:
df_combined.drop(columns=['clean_title'] ,axis=0 ,inplace=True)
test_df_combined.drop(columns=['clean_title'] ,axis=0 ,inplace=True)

In [92]:
corr = df_combined.corr()['price'].sort_values()
corr

age                        -0.216150
milage_per_year            -0.155280
fuel_type_E85 Flex Fuel    -0.033165
model_label                -0.025998
fuel_type_Gasoline         -0.012205
fuel_type_â€“                -0.009474
ext_int_color_label        -0.009470
brand_label                -0.003448
fuel_type_not supported    -0.003079
fuel_type_Plug-In Hybrid    0.003422
fuel_type_Hybrid            0.031502
accident_None reported      0.114705
engine_trans_label          0.219106
price                       1.000000
Name: price, dtype: float64

In [99]:
# Threshold for low correlation
threshold = 0.005
low_corr_features = corr[abs(corr) < threshold].index
low_corr_features

Index(['brand_label', 'fuel_type_not supported', 'fuel_type_Plug-In Hybrid'], dtype='object')

In [94]:
# Dropping these features
df_combined = df_combined.drop(columns=low_corr_features)

In [101]:
df_combined.sample(2)

,price,age,milage_per_year,brand_label,engine_trans_label,ext_int_color_label,model_label,fuel_type_E85 Flex Fuel,fuel_type_Gasoline,fuel_type_Hybrid,fuel_type_Plug-In Hybrid,fuel_type_not supported,fuel_type_â€“,accident_None reported
39511,17900,14,9.311219,50,2278,681,1472,0.0,1.0,0.0,0.0,0.0,0.0,1.0
20730,61500,9,9.310688,15,2722,64,1805,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [100]:
test_df_combined.sample(2)

,age,milage_per_year,brand_label,engine_trans_label,ext_int_color_label,model_label,fuel_type_E85 Flex Fuel,fuel_type_Gasoline,fuel_type_Hybrid,fuel_type_Plug-In Hybrid,fuel_type_not supported,fuel_type_â€“,accident_None reported
7595,5,8.516593,11,2816,64,434,0.0,1.0,0.0,0.0,0.0,0.0,1.0
16959,3,9.305651,14,3478,784,650,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [54]:
test_df_combined.drop(columns=low_corr_features ,axis=0 ,inplace=True)

In [55]:
test_df_combined.sample(2)

,age,milage_per_year,brand_label,engine_trans_label,ext_int_color_label,model_label,fuel_type_E85 Flex Fuel,fuel_type_Gasoline,fuel_type_Hybrid,fuel_type_Plug-In Hybrid,fuel_type_not supported,fuel_type_â€“,accident_None reported
26284,6,8500.000000,4,3952,319,1740,0.0,1.0,0.0,0.0,0.0,0.0,0.0
15168,12,4583.333333,3,2505,319,1412,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [102]:
df_combined.shape ,test_df_combined.shape

((54273, 14), (36183, 13))

In [103]:
import numpy as np

In [104]:
df_combined['milage_per_year'] = np.log(df_combined['milage_per_year'])
test_df_combined['milage_per_year'] = np.log(test_df_combined['milage_per_year'])

In [105]:
df_combined.sample(2)

,price,age,milage_per_year,brand_label,engine_trans_label,ext_int_color_label,model_label,fuel_type_E85 Flex Fuel,fuel_type_Gasoline,fuel_type_Hybrid,fuel_type_Plug-In Hybrid,fuel_type_not supported,fuel_type_â€“,accident_None reported
10401,52000,3,2.278332,9,2273,319,1659,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2283,17000,9,2.189421,8,2169,318,1792,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [106]:
test_df_combined.sample(2)

,age,milage_per_year,brand_label,engine_trans_label,ext_int_color_label,model_label,fuel_type_E85 Flex Fuel,fuel_type_Gasoline,fuel_type_Hybrid,fuel_type_Plug-In Hybrid,fuel_type_not supported,fuel_type_â€“,accident_None reported
21663,8,2.261464,3,2505,670,1408,0.0,1.0,0.0,0.0,0.0,0.0,1.0
27698,6,2.202524,50,2898,26,1672,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [107]:
df_combined.isnull().sum()

price                       0
age                         0
milage_per_year             0
brand_label                 0
engine_trans_label          0
ext_int_color_label         0
model_label                 0
fuel_type_E85 Flex Fuel     0
fuel_type_Gasoline          0
fuel_type_Hybrid            0
fuel_type_Plug-In Hybrid    0
fuel_type_not supported     0
fuel_type_â€“                 0
accident_None reported      0
dtype: int64

In [108]:
df_combined = df_combined.dropna()

In [63]:
df_combined

,price,age,milage_per_year,brand_label,engine_trans_label,ext_int_color_label,model_label,fuel_type_E85 Flex Fuel,fuel_type_Gasoline,fuel_type_Hybrid,fuel_type_Plug-In Hybrid,fuel_type_not supported,fuel_type_â€“,accident_None reported
0,11000,6,9.424766,14,2831,136,644,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,8250,17,8.456569,4,2040,64,49,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,15000,15,8.715946,21,2083,550,1771,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,63500,2,7.105376,4,2536,324,1748,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,7850,23,8.481791,40,803,784,693,0.0,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54268,29000,7,8.329141,4,3454,791,1745,0.0,1.0,0.0,0.0,0.0,0.0,1.0
54269,6500,9,9.260548,3,972,64,165,1.0,0.0,0.0,0.0,0.0,0.0,0.0
54270,18950,11,8.223164,41,3276,784,421,0.0,1.0,0.0,0.0,0.0,0.0,0.0
54271,194965,1,7.325149,41,3041,28,142,0.0,1.0,0.0,0.0,0.0,0.0,1.0
54272,37499,3,9.364491,3,1411,64,176,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [109]:
df_combined.shape ,test_df_combined.shape

((54273, 14), (36183, 13))

In [209]:
import pickle
with open('/kaggle/working/ohe.pickle' ,'wb') as file:
    pickle.dump(ohe ,file)

with open('/kaggle/working/freq_encoder.pickle' ,'wb') as file:
    pickle.dump(freq_encoder ,file)

with open('/kaggle/working/label_encoder.pickle' ,'wb') as file:
    pickle.dump(label_encoders ,file)

NameError: name 'freq_encoder' is not defined

In [111]:
X = df_combined.drop(columns=['price'])
y = np.log(df_combined['price'])

In [112]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X ,y ,test_size=0.01 ,random_state=32)

In [113]:
X_train.shape ,X_test.shape

((53730, 13), (543, 13))

In [114]:
from sklearn.linear_model import LinearRegression ,Lasso ,Ridge
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor ,GradientBoostingRegressor ,AdaBoostRegressor ,ExtraTreesRegressor
from sklearn.svm import SVR
from xgboost import XGBRegressor
from sklearn.ensemble import VotingRegressor,StackingRegressor

In [115]:
from sklearn.metrics import r2_score ,mean_absolute_error
from sklearn.preprocessing import StandardScaler

In [116]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [117]:
lr_reg = LinearRegression()
lr_reg.fit(X_train ,y_train)

y_pred = lr_reg.predict(X_test)
print('R2 Score : ',r2_score(y_test ,y_pred ))
print('MAE : ',mean_absolute_error(y_test ,y_pred))

R2 Score :  0.6020263168622385
MAE :  0.3778292980685729

In [118]:
ridge = Ridge(alpha=10)
ridge.fit(X_train ,y_train)

y_pred = ridge.predict(X_test)
print('R2 Score : ',r2_score(y_test ,y_pred ))
print('MAE : ',mean_absolute_error(y_test ,y_pred))

R2 Score :  0.6020224643083514
MAE :  0.37783173140360327

In [119]:
dtr = DecisionTreeRegressor(max_depth=8)
dtr.fit(X_train ,y_train)

y_pred = dtr.predict(X_test)
print('R2 Score : ',r2_score(y_test ,y_pred ))
print('MAE : ',mean_absolute_error(y_test ,y_pred))

R2 Score :  0.628288958062875
MAE :  0.36201439077964803

In [120]:
rf = RandomForestRegressor(n_estimators=100 ,
                              random_state=3 ,
                              max_samples=0.5 ,
                              max_features=0.75,
                              max_depth=15
                              )
rf.fit(X_train ,y_train)

y_pred = rf.predict(X_test)
print('R2 Score : ',r2_score(y_test ,y_pred ))
print('MAE : ',mean_absolute_error(y_test ,y_pred))

R2 Score :  0.6717587105565646
MAE :  0.3394470176418717

In [121]:
xtr = ExtraTreesRegressor(n_estimators=100,
                              random_state=3,
                              max_samples=0.5,
                              max_features=0.75,
                              max_depth=15,
                              bootstrap=True)
xtr.fit(X_train ,y_train)

y_pred = xtr.predict(X_test)
print('R2 Score : ',r2_score(y_test ,y_pred ))
print('MAE : ',mean_absolute_error(y_test ,y_pred))

R2 Score :  0.6684513955942345
MAE :  0.34056546389242737

In [143]:

y_pred = xtr.predict(X_train)
print('R2 Score : ',r2_score(y_train ,y_pred))
print('MAE : ',mean_absolute_error(y_train ,y_pred))

R2 Score :  0.7451286869194558
MAE :  0.2934167414961737

In [122]:
gbr = GradientBoostingRegressor(n_estimators=500)
gbr.fit(X_train ,y_train)

y_pred = gbr.predict(X_test)
print('R2 Score : ',r2_score(y_test ,y_pred ))
print('MAE : ',mean_absolute_error(y_test ,y_pred))

R2 Score :  0.6803634312994656
MAE :  0.33701178499800305

In [ ]:
X_train.shape

# ANN

In [ ]:
import tensorflow as tf

In [ ]:
model = tf.keras.Sequential([
    tf.keras.layers.Dense(128 ,activation='relu' ,input_shape=(X_train.shape[1] ,)),
    tf.keras.layers.Dropout(0.2),  # Dropout layer for regularization

    tf.keras.layers.Dense(64 ,activation='relu'),
    tf.keras.layers.Dropout(0.2),  # Dropout layer for regularization

    tf.keras.layers.Dense(32 ,activation='relu'),
    tf.keras.layers.Dropout(0.2),  # Dropout layer for regularization
    
    tf.keras.layers.Dense(16 ,activation='relu'),
    tf.keras.layers.Dense(1)
])

model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mae'])

In [ ]:
early_stopping = tf.keras.callbacks.EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

history = model.fit(X_train, y_train, epochs=100, validation_split=0.2, batch_size=32, verbose=1, callbacks=[early_stopping])

In [ ]:
y_pred = model.predict(X_test)
y_pred.shape

In [ ]:
y_pred

In [ ]:
y_pred = y_pred.flatten()  # Flatten the predictions to match the shape of y_test
y_pred.shape

In [ ]:
y_pred

In [ ]:

print('R2 Score : ',r2_score(y_test ,y_pred ))
print('MAE : ',mean_absolute_error(y_test ,y_pred))

In [ ]:
import keras_tuner as kt
from keras import Sequential
from keras.layers import Dense ,Dropout

In [ ]:
def build_model(hp):
    model = Sequential()
    
    counter = 0
    
    for i in range(hp.Int('num_layers' ,min_value=1 ,max_value=10)):
        if counter == 0:
            model.add(Dense(units=hp.Int('units' + str(i), min_value=32, max_value=512, step=32),
                                            activation= hp.Choice('activation' + str(i) ,values=['tanh','relu','sigmoid']), 
                                            input_shape=(X_train.shape[1],)))
            
            model.add(Dropout(hp.Float('dropout' + str(i), min_value=0.0, max_value=0.9, step=0.1)))
            
        else:
            model.add(Dense(units=hp.Int('units' + str(i), min_value=32, max_value=512, step=32),
                                            activation= hp.Choice('activation' + str(i) ,values=['tanh','relu','sigmoid'])))
            
            model.add(Dropout(hp.Float('dropout' + str(i), min_value=0.0, max_value=0.9, step=0.1)))
                      
    counter = counter + 1
            
    model.add(Dense(1))
                      
    model.compile(optimizer= hp.Choice('optimizer' ,values=['adam','sgd','nadam','adadelta','rmsprop']), 
                  loss='mean_squared_error', 
                  metrics=['mae'])
    return model

In [ ]:
tuner = kt.GridSearch(build_model ,
                        objective='val_loss' ,
                        max_trials=50 ,
                        directory='mydir',
                        project_name='final')

stop_early = tf.keras.callbacks.EarlyStopping(monitor='val_loss', patience=10)

tuner.search(X_train, y_train, epochs=50, validation_data=(X_test ,y_test), callbacks=[stop_early])

In [ ]:
best_hps = tuner.get_best_hyperparameters()[0].values
best_hps

In [ ]:
model = tuner.get_best_models(num_models=1)[0]
model.summary()

In [ ]:
history = model.fit(X_train, y_train, epochs=500, validation_data=(X_test ,y_test), callbacks=[stop_early] ,initial_epoch=100 ,batch_size=32)

In [ ]:
y_pred = model.predict(X_test)
y_pred = y_pred.flatten()

r2 = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)

print('R2 Score:', r2)
print('MAE:', mae)

In [ ]:
import pickle 
with open('/kaggle/working/ann_model.pickle' ,'wb') as file:
    pickle.dump(model ,file)
with open('/kaggle/working/gbr_model.pickle' ,'wb') as file:
    pickle.dump(gbr ,file)
with open('/kaggle/working/rf_model.pickle' ,'wb') as file:
    pickle.dump(rf ,file)

In [125]:
test_df_combined.sample(2)

,age,milage_per_year,brand_label,engine_trans_label,ext_int_color_label,model_label,fuel_type_E85 Flex Fuel,fuel_type_Gasoline,fuel_type_Hybrid,fuel_type_Plug-In Hybrid,fuel_type_not supported,fuel_type_â€“,accident_None reported
23785,4,2.010543,22,1710,319,1699,0.0,1.0,0.0,0.0,0.0,0.0,1.0
5235,22,2.086313,3,1003,128,1598,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [126]:
ids = test_df['id']
ids.shape

(36183,)

In [127]:
test_df_combined.isnull()

,age,milage_per_year,brand_label,engine_trans_label,ext_int_color_label,model_label,fuel_type_E85 Flex Fuel,fuel_type_Gasoline,fuel_type_Hybrid,fuel_type_Plug-In Hybrid,fuel_type_not supported,fuel_type_â€“,accident_None reported
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
36178,False,False,False,False,False,False,False,False,False,False,False,False,False
36179,False,False,False,False,False,False,False,False,False,False,False,False,False
36180,False,False,False,False,False,False,False,False,False,False,False,False,False
36181,False,False,False,False,False,False,False,False,False,False,False,False,False
36182,False,False,False,False,False,False,False,False,False,False,False,False,False

In [128]:
X_test = test_df_combined
X_test.shape

(36183, 13)

In [129]:
X_test = scaler.transform(X_test)

In [130]:
X_test

array([[ 0.19453006,  0.08037034,  0.95222191, ..., -0.00862855,
        -0.07353797,  0.60044043],
       [ 0.01568436,  0.80682607,  0.34387867, ..., -0.00862855,
        -0.07353797,  0.60044043],
       [ 0.01568436, -0.18760723,  0.95222191, ..., -0.00862855,
        -0.07353797,  0.60044043],
       ...,
       [ 0.73106716,  0.30455208,  1.96612731, ..., -0.00862855,
        -0.07353797,  0.60044043],
       [-0.69969843,  0.15490084,  0.41147236, ..., -0.00862855,
        -0.07353797,  0.60044043],
       [ 0.55222146,  0.75642363, -0.80521412, ..., -0.00862855,
        -0.07353797, -1.66544414]])

In [132]:
# y_test_pred_ann = model.predict(X_test)
y_test_pred_gbr = gbr.predict(X_test)
# y_test_pred_rf = rf.predict(X_test)

In [133]:
gbr_pred = np.exp(y_test_pred_gbr)
gbr_pred.shape

(36183,)

In [80]:
rf_pred = np.exp(y_test_pred_rf)
rf_pred.shape

(36183,)

In [134]:
ids

0        54273
1        54274
2        54275
3        54276
4        54277
         ...
36178    90451
36179    90452
36180    90453
36181    90454
36182    90455
Name: id, Length: 36183, dtype: int64

In [135]:
gbr_final = {
    'id' : ids,
    'price' : gbr_pred
}
gbr_df = pd.DataFrame(gbr_final)
gbr_df

          id         price
0      54273  21917.730681
1      54274  17342.214290
2      54275  25069.177323
3      54276  51458.920838
4      54277  36061.864028
...      ...           ...
36178  90451  59429.799124
36179  90452   8264.307423
36180  90453   7970.244690
36181  90454  47207.458306
36182  90455  12130.805609

[36183 rows x 2 columns]

In [136]:
gbr_df.to_csv('/kaggle/working/submission_gbr.csv' ,index=False)

In [84]:
rf_final = {
    'id' : ids,
    'price' : rf_pred
}
rf_df = pd.DataFrame(rf_final)
rf_df

          id         price
0      54273  21995.601504
1      54274  15358.829257
2      54275  25140.410421
3      54276  57034.345101
4      54277  32639.881189
...      ...           ...
36178  90451  58534.705239
36179  90452   9007.512378
36180  90453   8464.368919
36181  90454  52191.067480
36182  90455  11526.657876

[36183 rows x 2 columns]

In [85]:
rf_df.to_csv('/kaggle/working/submission_rf.csv' ,index=False)

In [86]:
y_train

37886    10.356154
34661    11.552146
31308    10.526749
29879    10.858999
5245     10.714418
           ...
44566     9.614471
30280    10.373491
6637     10.818778
35343     9.392662
23720    11.042922
Name: price, Length: 48845, dtype: float64

In [87]:
np.exp(y_train)

37886     31450.0
34661    104000.0
31308     37300.0
29879     52000.0
5245      45000.0
           ...
44566     14980.0
30280     32000.0
6637      49950.0
35343     12000.0
23720     62500.0
Name: price, Length: 48845, dtype: float64

In [88]:
df_combined[df_combined['id'] == 34661]

KeyError: 'id'

In [90]:
y_test_pred_lr = lr_reg.predict(X_test)
y_test_pred_ridge = ridge.predict(X_test)
y_test_pred_dtr = dtr.predict(X_test)
y_test_pred_xtr = xtr.predict(X_test)

In [91]:
lr_pred = np.exp(y_test_pred_lr)
lr_pred.shape
ridge_pred = np.exp(y_test_pred_lr)
ridge_pred.shape
dtr_pred = np.exp(y_test_pred_dtr)
dtr_pred.shape
xtr_pred = np.exp(y_test_pred_xtr)
xtr_pred.shape

(36183,)

In [92]:
lr_final = {
    'id' : ids,
    'price' : lr_pred
}
lr_df = pd.DataFrame(lr_final)

ridge_final = {
    'id' : ids,
    'price' : ridge_pred
}
ridge_df = pd.DataFrame(ridge_final)

dtr_final = {
    'id' : ids,
    'price' : dtr_pred
}
dtr_df = pd.DataFrame(dtr_final)

xtr_final = {
    'id' : ids,
    'price' : xtr_pred
}
xtr_df = pd.DataFrame(xtr_final)

In [93]:
lr_df.to_csv('/kaggle/working/submission_lr.csv' ,index=False)
ridge_df.to_csv('/kaggle/working/submission_ridge.csv' ,index=False)
dtr_df.to_csv('/kaggle/working/submission_dtr.csv' ,index=False)
xtr_df.to_csv('/kaggle/working/submission_xtr.csv' ,index=False)

In [ ]:
svr = SVR(kernel='rbf' ,C=10000 ,epsilon=0.1)
svr.fit(X_train ,y_train)

y_pred = svr.predict(X_test)
print('R2 Score : ',r2_score(y_test ,y_pred ))
print('MAE : ',mean_absolute_error(y_test ,y_pred))

In [94]:
from sklearn.ensemble import VotingRegressor,StackingRegressor

In [123]:
rf = RandomForestRegressor(n_estimators=350,random_state=3,max_samples=0.5,max_features=0.75,max_depth=15 )
gbdt = GradientBoostingRegressor(n_estimators=100,max_features=0.5)
xgb = XGBRegressor(n_estimators=25,learning_rate=0.3,max_depth=5)
et = ExtraTreesRegressor(n_estimators=100,random_state=3,max_samples=0.5,max_features=0.75,max_depth=10,bootstrap=True)

vr = VotingRegressor([('rf', rf), ('gbdt', gbdt), ('xgb',xgb), ('et',et)],weights=[5,1,1,1])
vr.fit(X_train ,y_train)

y_pred = vr.predict(X_test)
print('R2 Score : ',r2_score(y_test ,y_pred ))
print('MAE : ',mean_absolute_error(y_test ,y_pred))

R2 Score :  0.6775722592477067
MAE :  0.3356354050941189

In [124]:
estimators = [
    ('rf', RandomForestRegressor(n_estimators=350,random_state=3,max_samples=0.5,max_features=0.75,max_depth=15)),
    ('gbdt',GradientBoostingRegressor(n_estimators=100,max_features=0.5)),
    ('xgb', XGBRegressor(n_estimators=25,learning_rate=0.3,max_depth=5))
]

sr = StackingRegressor(estimators=estimators, final_estimator=Ridge(alpha=100))
sr.fit(X_train ,y_train)

y_pred = sr.predict(X_test)
print('R2 Score : ',r2_score(y_test ,y_pred ))
print('MAE : ',mean_absolute_error(y_test ,y_pred))

R2 Score :  0.6802113791524311
MAE :  0.3343590405335694

In [137]:
y_test_pred_vr = vr.predict(X_test)
y_test_pred_sr = sr.predict(X_test)

In [138]:
vr_pred = np.exp(y_test_pred_vr)
sr_pred = np.exp(y_test_pred_sr)

In [139]:
vr_final = {
    'id' : ids,
    'price' : vr_pred
}
vr_df = pd.DataFrame(vr_final)

sr_final = {
    'id' : ids,
    'price' : sr_pred
}
sr_df = pd.DataFrame(sr_final)

In [140]:
vr_df.to_csv('/kaggle/working/submission_vr.csv' ,index=False)
sr_df.to_csv('/kaggle/working/submission_sr.csv' ,index=False)

In [141]:
ids

0        54273
1        54274
2        54275
3        54276
4        54277
         ...
36178    90451
36179    90452
36180    90453
36181    90454
36182    90455
Name: id, Length: 36183, dtype: int64